@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');

/* ================================================
    Reason why I had such a big custom css file
===================================================
    I wanted to add some animations and change the 
    colors too, which couldn't be done with bootst
    -rap that easily so I opted to do a little bit
    more custom CSS than I should have in a bootst
    -rap based assignment. I done all the requisit
    tasks with Bootstrap and some mandatory CSS.

                                        Best Wishes,
                                            -Al Razi
*/

/* all common tags and universal animations*/
a{
    text-decoration: none;
    color: orangered;
}

a:hover{
    color:red;
}

h1{
    font-weight: 600;
    font-size: 48px;
}

.text-orange{
    color: orangered;
    transition: color 0.3s;
}

.text-yellow{
    color: yellow;
    transition: color 0.3s;
}

.text-orange:hover {
    color: brown;
}

.text-yellow:hover{
    color: red;
}

/* header  */
header{
    background-color: #264653;
}

.purchase-btn{
    color: white;
    background-color: orangered;
}

/* body  */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* featured bikes */
.featured-bike{
    max-width: 350px;
    transition-property: transform;
    transition-duration: 1s;
}
.featured-bike:hover{
    transform: scale(1.2);
}

.bold{
    font-weight: 600;
}

.gray-bike{
    filter: grayscale(100%);
}


/* reviews  */
.reviews{
    max-width:400px;
    width: 90%;
}

.reviews img{
    max-width: 200px;
    width: 90%;
}

.name{
    color: rgb(11, 166, 228);
}

.profession, .name{
    font-weight: 600;
}

.yellow-star{
    color: orange;
}

/* faq section  */
.faq img{
    max-width: 550px;
    width: 100%;
}

.custom-button:not(.collapsed){
    background-color: white;
    color: black;
}

/* extra section 1 */
.merch{
    background-image: linear-gradient(to bottom, orange, orangered);
}

.merch-bike, .img_desc{
    max-width: 450px;
    width: 90%;
}

.img_wrap {
    position: relative;
}

.img_desc {
    position: absolute;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0.5s;
}

.img_wrap:hover .img_desc {
    visibility: visible;
    opacity: 1;
}

/* footer - last but not least */
footer{
    background-color: #0B0D17;
}

/* media query to stop the animations in phones */
@media screen and (max-width:768px) {
    .img_desc{
        visibility: visible;
        opacity: 1;
    }
    .img_desc h1{
        font-size: 1.7em;
    }
}
